:root {
    --clr-blue-lm--: #0079FF;
    --clr-dark-blue-lm--: #4B6A9B;
    --clr-black-lm--: #2B3442;
    --clr-grey-lm--: #697C9A;
    --clr-white-lm--: #FEFEFE;
    --clr-offwhite-lm--: #F6F8FF;
    --clr-blue-dm--: #0079FF;
    --clr-dark-blue-dm--: #1E2A47;
    --clr-black-dm--: #141D2F;
    --clr-white-dm--: #FFFFFF;
    --font-spacemono--: 'Space Mono', monospace;
    --head-h1-size--: 1.625rem;
    --head-h1-line-height--: 2.375rem;
    --head-h1-weight--: 700;
    --head-h2-size--: 1.375rem;
    --head-h2-line-height--: 2.0625rem;
    --head-h2-weight--: 700;
    --head-h3-size--: 1rem;
    --head-h3-line-height--: 1.5rem;
    --head-h3-weight--: 400;
    --head-h4-size--: 0.8125rem;
    --head-h4-line-height--: 1.25rem;
    --head-h4-weight--: 400;
    --body-size--: 0.9375rem;
    --body-line-height--: 1.5625rem;
    --body-weight--: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-spacemono--);
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--clr-offwhite-lm--);
}

.main,
.search {
    background-color: var(--clr-white-lm--);
}

.main{
    border-radius: 15px;
}

h1 {
    font-size: var(--head-h1-size--);
    font-weight: var(--head-h1-weight--);
    line-height: var(--head-h1-line-height--);
    color: var(--clr-black-lm--);
}

h2 {
    font-size: var(--head-h2-size--);
    font-weight: var(--head-h2-weight--);
    line-height: var(--head-h2-line-height--);
    color: var(--clr-black-lm--);
}

h3 {
    font-size: var(--head-h3-size--);
    font-weight: var(--head-h3-weight--);
    line-height: var(--head-h3-line-height--);
    color: var(--clr-blue-lm--);
}

h4 {
    font-size: var(--head-h4-size--);
    font-weight: var(--head-h4-weight--);
    line-height: var(--head-h4-line-height--);
    color: var(--clr-grey-lm--);
}

p {
    font-size: var(--body-size--);
    font-weight: var(--body-weight--);
    line-height: var(--body-line-height--);
    color: var(--clr-dark-blue-lm--);
}

.title-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search input {
    border: none;
    outline: none;
    height: 69px;
    border-radius: 15px;
    width: 100%;
    font-size: 1.125rem;
    color: var(--clr-dark-blue-lm--);
    line-height: var(--body-line-height--);
}

::placeholder {
    font-size: 1.125rem;
    color: var(--clr-dark-blue-lm--);
    line-height: var(--body-line-height--);
}

.search {
    border-radius: 20px;
    margin-top: 36px;
    margin-bottom: 24px;
}

.search-section {
    display: flex;
    align-items: center;
}

header-section img {
    width: 20px;
}

.search-img img {
    width: 24px;
    margin: 23px 23.94px 22px 32px;
}

main-section-left img {
    width: 117px;
}

.location img {
    width: 13.75px;
    margin-right: 6.25px;
}

.twitter img,
.website img,
.company img {
    width: 20px;
}

button {
    outline: none;
    border: none;
    background-color: var(--clr-blue-lm--);
    margin: 9.5px 10px;
    width: 106px;
    height: 50px;
    border-radius: 10px;
    padding: 12.5px 23px 13.5px 24px;
}

button h3 {
    color: var(--clr-white-dm--);
    font-weight: 700;
}

.header-section h4 {
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
}

.body-section {
    max-width: 730px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 144px;
}

.main-section {
    display: flex;
    margin: 0 48px;
    padding: 44px 0 48px 0;
    gap: 37px;
}

.joined{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats{
    display: flex;
    background-color: var(--clr-offwhite-lm--);
    border-radius: 10px;
    display: flex;
    padding: 15px 32px 17px 32px;
}

.repos, .followers, .following{
    flex: 1;
}

.username{
    margin-top: 2px;
    margin-bottom: 20px;
}

.about{
    margin-top: 20px;
    margin-bottom: 32px;
}

.contact{
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    row-gap: 19px;
}

.location, .twitter, .website, .company{
    display: flex;
    gap: 16px;
    flex: 1;
}